<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
<nav>
  <p style="color:red"><b></b>Navigation:</b>&nbsp;
  {% for item in site.data.navigation %}
  <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>[{{ item.name }}]</a> &nbsp;
  {% endfor %}
</nav>
